# Copy this file to .env and fill in the values from your AWS Console.
# On EC2, add these to /etc/environment instead.

AWS_REGION=us-east-1
S3_BUCKET=cloudshare-files-bucket
DYNAMO_FILES_TABLE=cloudshare-files
DYNAMO_NOTIF_TABLE=cloudshare-notifications
SQS_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/YOUR_ACCOUNT_ID/file-share-queue
SNS_TOPIC_ARN=arn:aws:sns:us-east-1:YOUR_ACCOUNT_ID:file-notifications
COGNITO_USER_POOL_ID=us-east-1_XXXXXXXXX
COGNITO_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXX
CORS_ORIGINS=http://YOUR_EC2_PUBLIC_IP
